  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif
  }
  
  body {
    background: #0d0d0d;
    color: #fff;
    line-height: 1.6
  }
  
  .hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 70px 8%;
    background-image: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)), url('g-bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
  }
  
  .hero-text {
    max-width: 540px
  }
  
  .hero h1 {
    font-size: 52px;
    line-height: 1.15;
    margin-bottom: 18px
  }
  
  .hero p {
    color: #cfcfcf;
    margin-bottom: 25px;
    font-size: 18px
  }
  
  .btn {
    display: inline-block;
    padding: 14px 28px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 12px;
    font-weight: 700
  }
  
  .hero img {
    width: 520px;
    max-width: 100%;
    border-radius: 22px
  }
  
  .section {
    padding: 60px 8%
  }
  
  .cards {
    display: flex;
    gap: 22px;
    flex-wrap: wrap
  }
  
  .card {
    flex: 1;
    min-width: 240px;
    background: #171717;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .25)
  }
  
  .cta {
    text-align: center;
    background: #141414;
    padding: 70px 8%
  }
  
  @media(max-width:768px) {
    .hero h1 {
      font-size: 38px
    }
    
    .hero {
      gap: 30px;
      background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('g-bg.jpeg')
        /* url('https://images.unsplash.com/photo-1571019614242-c5c5dee9f50b?q=80&w=800&auto=format&fit=crop' */
    }
  }